# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs (si usas algún bundler)
dist/
build/
.out/
.next/
.vite/

# Tailwind/JIT cache
.tailwind-cache/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
